/* Created by Kuba Siekierzyński */

html {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial;
    font-size: 10pt;
    background-color: #ccc;
    padding: 10px;
    margin: 0;
}
h1 {
    font-size: 15pt;
    color: #666;
    text-align: center;
    padding: 0px 0 0px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 0px dashed #20bcd5;
    padding: 10px;
}
p {
    padding: 0;
    margin: 0;
}
.img-circle {
    border: 5px solid white;
    border-radius: 50%;
}
.section {
    background-color: #666;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.follow {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#about {
    background-color: #ddd;
    background-size: cover;
    border: 5px solid white;
}
#header {
    background-color: #666;
    background-size: cover;
    border: 5px solid white;
}
#header img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}
#header p {
    font-size: 15pt;
    color: #f0f0f0;
    padding-top: 5px;
    padding-bottom: 0px;
    margin: 0;
    font-weight: normal;
    text-align: center;
}
.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
}
table {
    width: 100%;
    font-size: 11pt;
}
table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.selected {
    background-color: #f36f48;
    font-weight: bold;
    color: white;
}
li {
    margin-bottom: 15px;
    font-weight: bold;
}
hr {
    border: 0;
    height: 1px;
    background: #cccccc;
}
form {
    text-align: center;
    margin-top: 0;
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}
textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 8pt;
    padding: 10px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
.face {
    transform: scale(0.4);
    margin: 0 auto;
    display: block;
    margin-top: -35px;
    margin-bottom: -25px;
}
#codes {
    background-color: #eee;
    background-size: cover;
    border: 5px solid white;
}
#codes img {
    height: 40px;
    width: 40px;
    margin-left: 7px;
    margin-right: 7px;
}
#codes a {
    text-decoration: none;
}
#codes p {
    text-decoration: none;
    font-size: 4pt;
}
#codes table, th, td {
    border: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-collapse: collapse;
    text-align: center;
    vertical-align: top;
    table-layout: fixed;
}
#contacts img {
    height: 40px;
    width: 40px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
    font-size: 10pt;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}
